<app-contact></app-contact>

<div class="container">
    <div class="col-md-10">
        <form  [formGroup]="titleForm" (ngSubmit)="onCreateTitle">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title"/>
            </div>
            <div  class="help-text text-danger" *ngIf="!titleForm.get('title')?.valid && titleForm.get('title')?.touched">Title is required</div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" formControlName="content"></textarea>
            </div>
            <div  class="help-text text-danger" *ngIf="!titleForm.get('content')?.valid && titleForm.get('content')?.touched">Content is required</div>

            <div class="my-2">
                <button type="submit" class="btn btn-primary" (click)="onCreateTitle()">Add Post</button>
            </div>
            <div>
                <a href="#" (click)="onClearPost(3)">Clear Post</a>
            </div>
        </form>
    </div>
</div>

